@charset "utf-8";
body{

}
*{margin: 0;padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{
    border: none;
    background: none;
    cursor: pointer;
}
/* 초기화 */
/* 모바일 코딩에서 가로사이즈 무조건 100% */

.wrap{
    position: relative;
}
.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
}
/* 모바일 메뉴 */
.m_gnb{
    width: 274px;
    height: 100%;
    background: #f1f1f1;
    position: fixed;
    left: -274px;
    top: 0;
    z-index: 10;
}
.m_gnb .m_login{
    width: 100%;
    height: 173px;
    background: #111;
    text-align: center;
    padding-top: 40px;
    position: relative;
}
.m_gnb .m_login p{
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 21px;
    padding: 0 0 24px 20px;
}
.m_gnb .m_login img{
    width: 232px;
}
.m_gnb .m_login .m_close{
    position: absolute;
    right: 20px;
    top: 20px;
}
.m_gnb .m_login .m_close img{
    width: 24px;
    height: 24px;
}
.m_gnb .m_menu li img{
    width: 274px;
}
.m_gnb .m_menu li:last-child{
    border-bottom: 1px solid #dcdcdc;
}
.m_gnb .m_reserve{
    margin-top: 36px;
    text-align: center;
}
.m_gnb .m_reserve img{
    width: 235px;
}

/* header */
header{
    width: 100%;
    height: 45px;
    background: #33353F;
    position: relative;
}
header .btn_menu{
    background: url(../images/menu.png) no-repeat ;
    width: 24px;
    height: 24px;
    text-indent: -99999px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -12px;
    z-index: 20;
}
header .btn_menu.on{
    background: url(../images/img_topSerchCancel.png) no-repeat ;
    background-size: 24px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20px;
}
header .m_search{
    background: url(../images/search.png) no-repeat ;
    width: 24px;
    height: 24px;
    text-indent: -99999px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -12px;
}
header h1{
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 50%;
    margin-top: -22.5px;
}
header h1>a{
    display: block;
    background: url(../images/img_header_logo\ 1.png)no-repeat;
    width: 90px;
    height: 45px;
    text-indent: -99999px;
}


/* main */
main .visual img{
    width: 100%;
    background: #fffffb;
}


/* section */
section{
    width: 100%;
}
section .quick{
   width: 100%;
   overflow: hidden;
   padding: 20px 9px;
}
section .quick li{
    width: 50%;
    float: left;
    padding: 5px;
}

section .quick li a{
    display: block;
    color: #fff;
    position: relative;
}
section .quick li h3{
    font-size: 16px;
}
section .quick .li1 a{
    background: #4bb8bd;
    padding: 30px 10px;
}
section .quick .li2 a{
    background: #ff912b;
    padding: 30px 10px;
}
section .quick .li3 a{
    background: #579cd7;
    padding: 20px 10px;
}
section .quick .li4 a {
    background: #88d12a;
    padding: 20px 10px;
}

/* 아이콘 삽입 */
section .quick li a::before {
    content: '';
    width: 100%;
    height: 100px;
    background: url(../images/bg_docSearch.png)no-repeat 95% 90%;
    background-size: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
}
section .quick li.li2 a::before {
    content: '';
    width: 100%;
    height: 100px;
    background: url(../images/bg_reserve.png)no-repeat 95% 90%;
    background-size: 25%;
}
section .quick li.li3 a::before {
    content: '';
    width: 100%;
    height: 100px;
    background: url(../images/bg_schedule.png)no-repeat 95% 90%;
    background-size: 25%;
}
section .quick li.li4 a::before {
    content: '';
    width: 100%;
    height: 100px;
    background: url(../images/bg_health.png)no-repeat 95% 90%;
    background-size: 25%;
}

/* 슬라이드 */
main .swiper img{
    width: 100%;
}
main .swiper .swiper-pagination{
    bottom: 13px;
}
main .swiper .swiper-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.9);  
}
main .swiper .swiper-button-prev,
main .swiper .swiper-button-next{
    color: rgba(255, 255, 255, 0.5);
}
main .swiper .swiper-pagination-bullet .swiper-pagination-bullet-active{
    width: 8px;
    height: 8px;
    background: #fff;
}

/* footer */
footer{
    width: 100%;
    height: 128px;
    background: #222;
    padding: 15px 5px;
    box-sizing: border-box;
}
footer .footer_info{
    text-align: center;

}
footer .footer_info li{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
footer .footer_info li::before{
    content:'';
    width: 1px;
    height: 11px;
    background: #fff;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 50%;
    margin-top: -3px;
}
footer .footer_info li a{
    font-size: 11px;
    color: #fff;
}
footer .footer_info li:first-child::before{
    display: none;
}